/// CTA Image Download Block

.cta-contact-info-row {
	margin-bottom: 0;

	@include media($medium-screen-up) {
		text-align: center;
	}

	.content-container {
		@include padding(4em 0 0);

		.heading {
			margin-bottom: 0;
		}
	}

	.cta-link {
		@include margin(3rem 0);
		@include span-columns(3 of 12);
		display: inline-block;

		@include media($medium-screen-up) {
			@include span-columns(12 of 12);
			text-align: center;
		}

		img {
			vertical-align: middle;
			width: 50px;
		}
	}

	.email-container > a {
		font-size: 0.9em;

	}
}
