/// Hero Unit

.hero {
	align-items: center;
	background-position: center;
	background-size: cover;
	display: flex;
	min-height: 31em;

	.hero-content {
		color: $white;
		text-align: center;

		h1 {
			@include font-size(70);
		}

		.hero-subheading {
			@include margin(0 auto 3rem);
			max-width: 25em;
		}

		.double-button {
			min-width: 220px;

			&:first-of-type {
				margin-right: 3em;

				@include media($small-screen-up) {
					margin-bottom: 1em;
					margin-right: 0;
				}
			}
		}
	}

}


