// Hero Content Block

.hero {
	//align-items: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	//display: flex;

	.hero-content {
		color: $white;
		text-align: center !important;
	}

	.fc-title-group {
		margin-bottom: calc(#{$gutter} * 2);

		@include mappy-bp(large) {
			margin-bottom: calc(#{$gutter} * 1.75);
		}
	}

	h1 {
		@include font-size(44);
		margin-bottom: $gutter;

		@include mappy-bp(large) {
			@include font-size(50);
		}

		@include mappy-bp(mega) {
			@include font-size(70);
		}
	}

	h3 {
		@include font-size(28);

		@include mappy-bp(large) {
			@include font-size(24);
		}

		@include mappy-bp(mega) {
			@include font-size(30);
			margin-bottom: 50px;
		}
	}

	.button-group {
		@include mappy-bp(large) {
			a:first-of-type {
				margin-right: $gutter/2;
			}

			a:last-child {
				margin-left: $gutter/2;
			}

			& > a {
				@include mappy-bp(large) {
					margin-bottom: 0;
				}
			}
		}

	}

}



