// Hero Content Block

.hero {
	//@include padding(100px 0);
	align-items: center;
	background-position: center;
	background-size: cover;
	display: flex;

	.hero-content {
		color: $white;

		h1 {
			@include font-size(70);
			margin-bottom: 20px;
			//max-width: 600px;
		}

		h3 {
			margin-bottom: 50px;
		}

	}

}


