/// Pricing Boxes Block

.pricing-boxes-row {
	@include margin(0 null 0 null);
	@include padding(5em null 5em null);

	.content-container {
		text-align: center;
	}


	.pricing-boxes {

		.pricing-box {
			@include span-columns(3 of 12);
			text-align: center;

			@include media($medium-screen-up) {
				@include span-columns(12 of 12);
				text-align: center;
			}

			h4 {
				@include padding(1em 0);
				background-color: $grey1;
				color: $grey1;
				margin-bottom: 0;
			}

			p {
				@include padding(5em 0 2em);
				background-color: $grey5;
				color: $grey1;
				margin-bottom: 0;

				.button {
					margin-top: rem(60);
				}
			}

		}

	}

	.sales-message-container {
		@include padding(22em 0 0);
		text-align: center;
	}

}


