.fc-video {
	align-items: center;
	background-position: center;
	background-size: cover;
	color: $white;
	display: flex;

	.wrap {
		@include margin(0);
	}

	.name {
		@include font-size(18);
		margin-bottom: 0;
	}

	.details {
		@include font-size(15);

		span {
			&:first-child {
				border-right: 1px solid;
				padding-right: 10px;
			}

			&:last-child {
				padding-left: 10px;
			}
		}
	}

	.play-container {
		a {
			color: $white;

			p {
				@include margin(0);
			}

			&:hover {
				color: $white;
			}
		}

	}
}

