.complex-title {
    &-layout {
        &-none {
            text-align: left;
        }
        &-left {
            text-align: left;
        }
        &-right {
            text-align: right;
        }
        &-center {
            text-align: center;
        }
    }
    &-group {
        font-weight: 300;
        display: block;
        &-alignment {
            &-none {
                text-align: left;
            }
            &-left {
                text-align: left;
            }
            &-right {
                text-align: right;
            }
            &-center {
                text-align: center;
            }
        }
    }
    &-element {
        &-emphasize {
            font-weight: 600;
        }
        &-size {
            &-sm {
                font-size: 50%;
                line-height: 100%;
            }
            &-lg {
                font-size: 150%;
                line-height: 100%;
            }
        }
        &-alignment {
            &-none {
                display: inline;
            }
            &-left {
                display: block;
                text-align: center;
                text-align: left;
            }
            &-right {
                display: block;
                text-align: center;
                text-align: right;
            }
            &-center {
                display: block;
                text-align: center;
            }
        }
    }
}

.fa-2x,
.dashicons-2x,
.genericons-neue-2x {
    font-size: 2em;
}
.fa-3x,
.dashicons-3x,
.genericons-neue-3x {
    font-size: 3em;
}
.fa-4x,
.dashicons-4x,
.genericons-neue-4x {
    font-size: 4em;
}
.fa-5x,
.dashicons-5x,
.genericons-neue-5x {
    font-size: 5em;
}