#acf-cfb_blocks {
  .acf-media {
    min-height: 300px;
  }
  .acf-cta {
    background-color: #efefef;
    min-height: 100px !important;
  }
  .acf-field {
    transition: all .5s ease-in-out;
    position: relative;
    z-index: 10;
    background: #fff;
  }
}

.acf-complex-titles-preview-area {
  position: relative;
  padding: 65px;
  box-sizing: border-box;
  background-color: #efefef;
  h1 {
    color: #444 !important;
    font-size: 3vw !important;
    line-height: 3vw !important
  }
  @import "styles.scss";
}

.fa-2x,
.dashicons-2x,
.genericons-neue-2x {
  font-size: 2em;
}
.fa-3x,
.dashicons-3x,
.genericons-neue-3x {
  font-size: 3em;
}
.fa-4x,
.dashicons-4x,
.genericons-neue-4x {
  font-size: 4em;
}
.fa-5x,
.dashicons-5x,
.genericons-neue-5x {
  font-size: 5em;
}