@import "variables/variables";
@import "mixins/mixins";

// Bourbon Neat - Overlay 12 Column Grid
// http://thoughtbot.github.io/neat-docs/latest/#visual-grid
$visual-grid: true !default;
$visual-grid-color: #abb3be !default;
$visual-grid-index: front !default;
$visual-grid-opacity: 0.2 !default;

// Add CSS Grid Overlay To Help With Layout
// http://lostgrid.org/docs.html#lost-utility
body {
	lost-utility: edit;
}

