/* ## Pagination
--------------------------------------------- */

.pagination,
.facetwp-pager {
	clear: both;
	margin: 40px 0;
	text-align: center;

	@include media($medium-screen-up) {
		@include margin(5% auto);
	}
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination a,
a.facetwp-page {
	@include margin(0);
	border-radius: 50px;
	color: $slate-dark;
	cursor: pointer;
	display: inline-block;
	font-size: em(11px);
	padding: 8px 12px;
	text-decoration: none;
	text-transform: uppercase;
}

.archive-pagination a:hover,
.archive-pagination a:focus,
.archive-pagination .active a,
a.facetwp-page.active,
a.facetwp-page:hover,
a.facetwp-page:focus {
	background-color: $green3;
	color: $white;
	font-weight: $fw-normal;
}

