/* ## Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 40px 0;

	@include media($medium-screen-up) {
		@include margin(5% auto);
	}
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination a {
	background-color: #fff;
	color: #333;
	cursor: pointer;
	display: inline-block;
	@include font-size(16);
	font-weight: 600;
	padding: 8px 12px;
	text-decoration: none;
}

.archive-pagination a:hover,
.archive-pagination a:focus,
.archive-pagination .active a {
	background-color: #c3251d;
	color: #fff;
}

@include media($medium-screen-up) {
	.archive-pagination li a {
		margin-bottom: 4px;
	}
}
