@include media($xlarge-screen-up) {
	.slide-nav-link {
		@include transform(translate(-70px, 30px));
		background-color: transparent !important;
		color: $green1 !important;
		float: right;

		@include media($medium-screen-up) {
			@include transform(translate(-30px, 30px));
		}

		&::before {
			font-size: 40px !important;
		}
	}
}
