@include media($xlarge-screen-up) {
	.slide-nav-link {
		@include transform(translate(-20px, 15px));
		background-color: transparent !important;
		color: $green1 !important;
		float: right;

		@include media($medium-screen-up) {
			@include transform(translate(-30px, 30px));
		}

		&::before {
			font-size: 40px !important;
		}
	}

	#side-menu {
		background-color: $white;

		.sub-menu-toggle::before {
			color: $black1;
		}

		.menu-close {
			display: none;
		}

		.mobile-cta {
			@include padding(30px);
			background-color: $white;

			a {
				background-color: $green1;
				border-radius: 50px;
				color: $white !important;
				text-align: center;
				text-transform: uppercase;
			}
		}

		.menu-item {
			a {
				border: 0;
				color: $green2;
			}

			&.menu-item-has-children {
				a {
					background-color: $grey4;
					border-bottom: 1px solid $white;
					border-top: 1px solid $white;
					color: $black1;
				}
			}
		}


	}
}
