$btn-green: $green-main;
$btn-teal: $teal1;
$btn-slate: $slate-dark;


.button,
#{$all-buttons} {
  @include padding(10px 15px);
  @include font-size(14);
  appearance: none;
  background-color: $green-main;
  border: 0;
  border-radius: $base-border-radius;
  box-shadow: 0 2px 4px 0 #000;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($green-main, 20%);
    box-shadow: none;
    color: $white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: darken($green-main, 20%);
    }
  }
}

