/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	@include font(normal, 400);
	color: $slate-dark;
	font-family: $gotham;
	line-height: 1.2;
	margin: 0 0 10px;
}

h1 {
	@include font-size(48);
}

h2 {
	@include font-size(40);
}

h3 {
	@include font-size(30);
}

h4 {
	@include font-size(24);
}

h5 {
	@include font-size(20);
}

h6 {
	@include font-size(16);
}


.subheading {
	color: $slate-light;
	font-weight: $fw-normal;
}

.section-heading {
	@include font-size(24);
	color: $slate-light;
}


.segment-header {
	@include font-size(20);
	font-weight: $fw-bolder;
}

.sec-segment-header {
	@include font-size(20);
	font-weight: $fw-normal;
}
