ul,
ol {
  margin-bottom: em(40);
  margin-left: em(20);
  padding-left: em(8);

  & & {
    margin-bottom: 0;
  }
}

ul {
  .entry-content & {
    list-style-type: disc;
  }
}

ol {
  li {
    list-style-type: unset;
  }
}

dl {
  overflow: hidden;

  dt {
    clear: left;
    float: left;
    font-weight: 600;

    &::after {
      content: ": ";
    }
  }

  dd {
    overflow: hidden;
    padding-left: em(8);
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


// Checkmark List. ie...
//
// <ul class="checkmark-list">
//     <li>Checkmark List Item</li>
//     <li>Checkmark List Item</li>
//     <li>Checkmark List Item</li>
// </ul>
//
.checkmark-list {
  list-style-image: inline('dist/images/checkmark.svg');
  background-size: size('dist/images/checkmark@2x.png', 2);
}

