/* ## Typographical Elements
--------------------------------------------- */
//
//html {
//  font-size: 62.5%; /* 10px browser default */
//}


//body {
//  @include font-smoothing;
//  @include font-legibility;
//  background-color: $white;
//  color: $slate-dark;
//  font-family: $base-font-family;
//  @include font-size(15);
//  @include font(normal, 400);
//  line-height: 1.625;
//  margin: 0;
//
//  @include media($medium-screen-up) {
//    @include font-size(18);
//  }
//
//  /* Chrome fix */
//  & > div {
//    font-size: 2rem;
//
//    @include media($medium-screen-up) {
//      font-size: 1.8rem;
//    }
//  }
//}

body {
  @include font-smoothing;
  @include font-legibility;
  background-color: $white;
  color: $slate-dark;
  font-family: $base-font-family;
  font-size: 15px;
  @include font(normal, 400);
  line-height: 1.625;
  margin: 0;
}



a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
  transition: all 0.1s ease-in-out;
}

a {
  color: $slate;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $slate-dark;
  }
}


p {
  margin: 0 0 28px;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

hr {
  border: 0;
  border-collapse: collapse;
  border-top: 1px solid $grey2;
  clear: both;
  margin: 1em 0;
}

b,
strong {
  font-weight: $fw-bold;
}

cite,
em,
i {
  font-style: italic;
}

blockquote {
  @include font-size(30);
  @include margin(10px 20px 20px);
  font-size: 30px;
  font-weight: $fw-light;
  max-width: 700px;

  //&::before {
  //  content: "\201C";
  //  display: block;
  //  @include font-size(30);
  //  height: 0;
  //  left: -20px;
  //  position: relative;
  //  top: -10px;
  //}
}

