/* ## Typographical Elements
--------------------------------------------- */

body {
  @include font-smoothing;
  @include font-legibility;
  background-color: $white;
  color: $slate-dark;
  font-family: $base-font-family;
  font-size: 15px;
  @include font(normal, 400);
  line-height: 1.625;
  margin: 0;
}



a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
  transition: all 0.1s ease-in-out;
}

a {
  color: $slate;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $slate-dark;
  }
}


p {
  font-size: responsive;
  margin: 0 0 28px;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

hr {
  border: 0;
  border-collapse: collapse;
  border-top: 1px solid $grey2;
  clear: both;
  margin: 1em 0;
}

b,
strong {
  font-weight: $fw-bold;
}

cite,
em,
i {
  font-style: italic;
}

blockquote {
  @include margin(10px 20px 20px);
  font-size: em(30);
}

// Read More Link
.more-link {
  color: $green3;
  font-size: rem(14px);

  &:hover {
    color: $green1;
    font-weight: $fw-medium;
    transition: all 0.3s ease-out;
  }

  img {
    vertical-align: middle;
    &:hover {
      transform: translateX(2px);
      transition: transform 0.3s ease-out;
    }
  }
}
