// Colors


// Shades of White
$white: #fff;

// Shades of Green
$green1: #c1ce20;
$green2: #d0dd28;

// Shades of Grey
$grey: #b5bcc6;
$grey1: #7b848d;
$grey2: #a3a9ae;
$grey3: #dfe0e0;
$grey4: #e2e7eb;
$grey4-5: #e3e8ea;
$grey5: #f1f1f1;


// Shades of Black
$black1: #333;
