// Fonts from https://dashboard.typography.com/account/cloud-project.php?Prj_ProjectID=104057&s=font-domains
// Login: vcorrea@yourmembership.com
// Password: MarketingYM01

/// Gotham font stack.
///
/// @type List

$gotham: "GeoGotham A", "Gotham B";

$base-font-family: $gotham;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;
