.resources-archive,
.archive-whitepapers {
	.site-container {
		background-color: $grey5;
	}

	.archive-title {
		color: $white;
	}

	.slider-container {
		position: relative;

		.slider-group {
			max-height: unset;
		}

		// Need due to unconventional slider implementation.
		.swiper-slide {
			min-height: 600px;

			@include bp(600px) {
				min-height: 500px;
			}

			@include bp(wide) {
				min-height: 500px;
			}
		}

		// Need due to unconventional slider implementation.
		.inner-wrap {
			transform: translate(40px, 230px);

			@include bp(wide) {
				transform: translateY(120px);
			}
		}

		.slide-content,
		figure {
			@include bp(wide) {
				lost-column: 1/2;
			}
		}

		figure {
			text-align: center;
		}

		// Needed because of slider arrows
		.slide-content {
			width: 90%;

			@include bp(wide) {
				width: calc(99.9% * 1 / 2 - (30px - 30px * 1 / 2));
			}

			.fc-title-group {
				width: 100%;

				h1,
				h3 {
					color: $white;
				}
			}

			.button-group > a {
				@include margin(0.75em 0 1.25em);
			}
		}


		// Pagination
		div.swiper-container-horizontal > .swiper-pagination-bullets {
			bottom: 10px;
		}

		.button-next,
		.button-prev {
			margin-top: 15px;
		}

		.button-next {
			right: 15px;

			@include bp(mega) {
				right: 40px;
			}
		}

		.button-prev {
			left: 15px;

			@include bp(mega) {
				left: 40px;
			}
		}
	}


	.facetwp-template {
		lost-center: 1200px;
		justify-content: center;
	}

	.resource {
		@include padding(0);
		background-color: $white;
		margin-bottom: 30px;
		max-width: em(380);
		text-align: left;

		&:hover {
			box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.06);
			transition: all 0.3s ease-out;
		}

		@include bp(large) {
			max-width: unset;
			lost-center: 720px;
		}

		@include bp(wide) {
			display: block;
			max-width: 380px;
			lost-column: 1/3;
		}

		> * {
			@include bp(large) {
				lost-column: 1/2;
			}

			@include bp(wide) {
				lost-column: none;
			}
		}

		figure {
			@include bp(large) {
				max-height: 317px;
			}

			@include bp(large) {
				max-height: unset;
			}
		}
	}

	.resource-wrap {
		@include padding(em($gutter *2) em($gutter));

		@include bp(wide) {
			@include padding(0 null em($gutter));
		}
	}

	.cat {
		@include font-size(12);
		color: $green1;
		font-weight: $fw-normal;
		margin-bottom: 0;
		text-transform: uppercase;
	}

	.title {
		@include font-size(22);
		color: $slate-dark;
		font-weight: $fw-normal;
		margin-bottom: 10px;
	}

	p:not(.link-more) {
		@include font-size(14);
		color: $slate;
		font-weight: $fw-normal;
		margin-bottom: 0;
	}

	// Read More Link
	.link-more {
		@include margin(0);
		font-size: em(14px);
		text-align: right;

		img {
			&:hover {
				transform: translateX(2px);
				transition: transform 0.3s ease-out;
			}
		}
	}
}
