.archive-title {
	@include font-size(20);
}

.archive-description {
	background-color: #fff;
	@include font-size(18);
	margin-bottom: 40px;
	padding: 60px;

	p:last-child {
		margin-bottom: 0;
	}

	.entry-title {
		@include font-size(20);
	}
}
