.archive {
	.entry {
		padding-top: 0;
	}

	.entry-header .entry-meta {
		margin-bottom: em(10px);
	}


	.entry-title {
		color: $slate-dark;
		font-size: em(22px);
		font-weight: $fw-bold;

		a {
			&:hover {
				color: $green1;
			}
		}
	}

	.entry-content {
		p {
			&:first-child {
				font-size: em(15px);
			}
		}

	}
}
