.landing-page {

	.banner-content {
		text-align: center;

		@include bp(wide) {
			text-align: left;
		}
	}

	.banner-image {
		@include padding(100px null 40px null);

		h1,
		h2 {
			color: $white;
		}

		h1 {
			font-size: em(48);
			margin-bottom: $gutter;
		}

		h2 {
			font-size: em(24);
		}
	}

	.site-inner,
	article {
		margin-top: 0;
		padding-top: 0;
	}

	.site-inner {
		padding: 0 $gutter;

		p {
			font-size: em(15);
		}
	}

	.time-and-date {
		@include margin(em($gutter * 2) null em(30));

		> div {
			display: flex;
			align-items: center;
			margin-bottom: em($gutter);
		}

		img {
			margin-right: em(20);
		}

		p {
			font-size: em(18);
			margin-bottom: 0;
		}
	}

	.speaker-info {
		@include margin(em($gutter *2) 0);

		.speaker {
			@include bp(large) {
				display: flex;
			}
		}

		figure {
			@include margin(em($gutter) 0);
			text-align: center;

			@include bp(large) {
				margin-right: $gutter;
				text-align: left;
			}
		}

		h3 {
			@include margin(em($gutter) 0);
			font-size: em(20);
			font-weight: $fw-bold;
		}

		p {
			@include bp(large) {
				max-width: em(500);
			}
		}
	}

	.key-points {
		@include padding(em($gutter * 2));
		background-color: $grey5;
		text-align: center;

		.fc-title-group {
			margin-bottom: rem(160);

			h1 {
				font-size: em(38);
				margin-bottom: rem(40);
			}

			h2 {
				font-size: em(24);
			}
		}

		.inner-wrap {
			lost-center: 1200px;
		}


		.point {
			margin-bottom: rem(160);

			h2 {
				font-weight: $fw-bold;
				margin-bottom: em(20);
			}

			&:last-child {
				margin-bottom: 0;
			}

			@include bp(large) {
				lost-column: 1/2 2 120px;
			}

			@include bp(wide) {
				lost-column: 1/4 4 60px;
			}
 		}
	}

	.testimonial {
		@include padding(em($gutter * 2) null);
		color: $white;
		text-align: center;

		figure {
			margin-bottom: em($gutter * 2);
		}

		blockquote {
			font-size: em(24);
			text-align: center;

			@include bp(large) {
				@include padding(null em(80));
			}

			@include bp(wide) {
				@include padding(null em(240));
			}
		}
	}

}
