time,
.post-edit-link {
	color: $slate-light;
}


.entry-title {
	@include margin(rem(20px) null);
}



.entry {
	font-size: em(15px);

	@include bp(large) {
		@include padding(null em(100px) null null);
	}

	@include bp(wide) {
		@include padding(null em(150px) null null);
	}
}

.cpt-pagination {
	@include margin(em($gutter *2) null em($gutter * 4));
	display: flex;
	align-items: baseline;
	justify-content: space-between;

	a {
		font-size: em(11px);
		color: $slate-dark;
		text-transform: uppercase;

		&:last-child {
			margin-left: em(40);
		}
	}
}
