.single-news {
	.cpt-header {
		margin-bottom: em($gutter * 3);

		h2 {
			margin-bottom: 0;
		}

		img {
			vertical-align: middle;
		}
	}

	article {
		padding-top: 0;
	}

	.post-intro-box {
		p {
			font-size: rem(20px);
		}
	}

	.after-entry {
		.widget {
			@include padding(em(30));
			background-color: $grey2;

			@include mappy-bp(wide) {
			}

			.widgettitle {
				font-size: em(24px);
				font-weight: $fw-normal;
			}

			.textwidget {
				p {
					font-size: em(15px);
				}
			}
		}

		.sidebar {
			border-top: 1px solid $grey1;

			@include bp(wide) {
				border-top: 0;
				margin-top: 140px;
			}

			.widget {
				&:first-child {
					margin-top: em($gutter * 2);

					@include bp(wide) {
						margin-top: 0;
					}
				}

			}
		}
	}

}




































































































































































































































































