/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	@include font-size(16);
	background-color: $white;
	line-height: 1;
	text-align: center;

	p {
		color: $slate-light;
		margin-bottom: 0;
	}

	.flex-wrap {
		lost-center: 1200px;
		align-items: center;

		.widget {
			margin-bottom: 0;
			@include media($small-screen-up) {
				width: 100%;
			}
		}

		.textwidget {
			text-align: left;

			@include media($small-screen-up) {
				margin-bottom: 20px;
				text-align: center;
			}

			p {
				@include font-size(14);
			}
		}

		.menu {
			display: flex;
			justify-content: flex-end;

			@include media($small-screen-up) {
				justify-content: center;
			}

			a {
				@include padding(null 10px);
				@include font-size(14);
				color: $slate-light;

				&:hover,
				&:focus {
					color: $slate-dark;
				}
			}
		}
	}

	.widget {
		lost-column: 1/2;
	}
}









