/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #fff;
	border-top: 1px solid #eee;
	@include font-size(16);
	line-height: 1;
	padding: 60px 0;
	text-align: center;

	p {
		margin-bottom: 0;
	}

	.flex-wrap {
		lost-center: 1280px;
	}

	.widget {
		lost-column: 1/2;
	}
}


.site-footer .wrap > p {
	display: none;
}






