/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	@include font-size(16);
	line-height: 1;
	padding: 60px 0;
	text-align: center;

	p {
		margin-bottom: 0;
	}

	.flex-wrap {
		lost-center: 1280px;

		.textwidget {
			color: $grey;
			text-align: left;

			p {
				@include font-size(14);
			}
		}

		.menu {
			display: flex;
			justify-content: flex-end;

			a {
				@include padding(null 10px);
				@include font-size(14);
				color: $grey;
				text-decoration: none;
			}
		}
	}

	.widget {
		lost-column: 1/2;
	}
}








