.before-header {
	background-color: $white;
	text-align: right;

	@include media($xlarge-screen-up) {
		display: none;
	}

	.genesis-nav-menu {

		a {
			@include padding(10px null);
			@include font(normal, 400);
			color: $grey1;
			font-size: 14px;

			&:hover,
			&:active {
				color: $black1;
			}
		}

	}
}
