/* # Site Header
---------------------------------------------------------------------------------------------------- */
@import "title-area";

.site-header {
	background-color: #fff;

	> .wrap {
		display: flex;
		position: relative;

		@include media($large-screen-up) {
			padding-left: 5%;
			padding-right: 5%;
		}
	}

	.title-area {
		width: 15%;

		@include media($xlarge-screen-up) {
			width: 180px;
		}

	  img {
		width: 180px;
	  }

	}

	.nav-primary {
		padding-top: 20px;
		text-align: right;
		width: 85%;
	}
}

/* # Site Header - .fixed-header
---------------------------------------------------------------------------------------------------- */
.site-header {
  z-index: 1;
}


body.fixed-header {
  .site-header {
	position: fixed;
	top: 0;
	transition: all 0.2s;
	width: 100%;
  }

  .nav-primary {
	padding-top: 27px;
  }

  .title-area {
	max-width: 75px;

	img {
	  padding-top: 10px;
	}
  }
}








