/* ## Title Area
--------------------------------------------- */

.title-area {
	float: left;
	min-height: 88px;
	width: 180px;

	@include media($large-screen-up) {
		width: 100%;
	}
}

.header-image .site-title {
	display: block;
	text-indent: -9999px;
}

.header-image .title-area {
	margin: 0 auto;
	padding: 0;

	@include media($large-screen-up) {
		float: none;
	}
}


.site-title {
	@include font-size(30);
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 0;

	@include media($large-screen-up) {
		text-align: center;
	}

	a,
	a:hover,
	a:focus {
		color: #333;
		text-decoration: none;
	}
}


