/* ## Title Area
--------------------------------------------- */

.header-image .site-title {
	display: block;
	text-indent: -9999px;
}

.site-title {
	@include font-size(30);
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 0;

	@include media($large-screen-up) {
		text-align: center;
	}

	a,
	a:hover,
	a:focus {
		color: #333;
		text-decoration: none;
	}
}


