/* # Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	@include font-size(16);
	border-top: 1px solid $slate-light;
	margin-bottom: 40px;

	@include bp(large) {
		border-top: 0;
	}

	.widget {
		background-color: #fff;
		margin-bottom: em(40px);
	}

	.widgettitle {
		font-size: em(20px);
		font-weight: $fw-normal;
	}

	.textwidget {
		p {
			font-size: em(15px);
		}

		a {
			color: $green1;
			font-size: em(15px);
		}
	}
}
