/* ## Site Containers
--------------------------------------------- */

//.site-inner,
//.wrap {
//	margin: 0 auto;
//	max-width: 1280px;
//
//	@include media($xxlarge-screen-up) {
//		max-width: 1140px;
//	}
//
//	@include media($xlarge-screen-up) {
//		max-width: 960px;
//	}
//
//	@include media($large-screen-up) {
//		max-width: 800px;
//	}
//}

.site-inner,
.wrap {
	margin: 0 auto;
	max-width: 1200px;

	@include media($xxlarge-screen-up) {
		max-width: 1140px;
	}

	@include media($xlarge-screen-up) {
		max-width: 960px;
	}

	@include media($large-screen-up) {
		max-width: 800px;
	}
}


section > .wrap {
	@include padding(null em(20));
}

/* ## Site Layouts
-------------------------------------- */

.site-inner {
	clear: both;
	padding-top: 40px;
	word-wrap: break-word;

	@include media($medium-screen-up) {
		@include padding(5% 5% 0);
	}

	.wrap {
		@include media($medium-screen-up) {
			@include padding(0 5%);
		}
	}

	.content-sidebar-wrap {
		.content {
			@include padding(30px);
			lost-column: 3/4;

			@include media($large-screen-up) {
				@include padding(0);
				lost-column: 1;
			}
		}

		.sidebar {
			@include padding(30px);
			lost-column: 1/4;

			@include media($large-screen-up) {
				@include padding(0);
				lost-column: 1;
			}
		}
	}
}

// Full Width Layout
.full-width-content .content-sidebar-wrap {
	lost-center: 1200px;

	.content {
		lost-column: 1;
	}
}

// Content Sidebar Layout
.content-sidebar .content-sidebar-wrap {
	lost-center: 1200px;

	.content {
		order: 0;
	}

	.sidebar {
		order: 1;
	}
}

// Sidebar Content Layout
.sidebar-content .content-sidebar-wrap {
	lost-center: 1200px;

	.content {
		order: 1;

		@include media($large-screen-up) {
			order: 0;
		}
	}

	.sidebar {
		order: 0;

		@include media($large-screen-up) {
			order: 1;
		}
	}
}
