/* ## Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
	margin: 0 auto;
	max-width: 1200px;

	@include media($xxlarge-screen-up) {
		max-width: 1140px;
	}

	@include media($xlarge-screen-up) {
		max-width: 960px;
	}

	@include media($large-screen-up) {
		max-width: 800px;
	}
}

.site-inner {
	@include padding(null em(20px));
}


section > .wrap {
	@include padding(null em(20));
}

/* ## Site Layouts
-------------------------------------- */

.site-inner {
	clear: both;
	padding-top: 40px;
	word-wrap: break-word;

	.content-sidebar-wrap {
		.content {
			@include mappy-bp(wide) {
				@include padding(0);
				lost-column: 3/4;
			}
		}

		.sidebar {
			@include padding(em($gutter * 3) 0);
			border-top: 1px solid $grey1;

			@include mappy-bp(wide) {
				@include padding(em($gutter) 0);
				border-top: 0;
				lost-column: 1/4;
			}

			.widget {
				@include mappy-bp(560px) {
					float: left;
					width: 50%;
				}

				@include mappy-bp(wide) {
					width: 100%;
				}
			}
		}
	}
}


// Full Width Layout
.full-width-content .content-sidebar-wrap {
	lost-center: 1200px;

	.content {
		lost-column: 1;
	}
}

// Content Sidebar Layout
.content-sidebar .content-sidebar-wrap {
	lost-center: 1200px;

	.content {
		order: 0;
	}

	.sidebar {
		order: 1;
	}
}


// Sidebar Content Layout
.sidebar-content .content-sidebar-wrap {
	lost-center: 1200px;

	.content {
		order: 1;

		@include media($large-screen-up) {
			order: 0;
		}
	}

	.sidebar {
		order: 0;

		@include media($large-screen-up) {
			order: 1;
		}
	}
}


.sidebar {
	margin-top: 4.25em;
}
